apiVersion: apps/v1
kind: Deployment
metadata:
  name: bans5gc-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: bans5gc-operator
  template:
    metadata:
      labels:
        name: bans5gc-operator
    spec:
      serviceAccountName: bans5gc-operator
      containers:
        - name: bans5gc-operator
          # Replace this with the built image name
          image: steven30801/bans5gc-operator:bmv2-fabric
          command:
          - bans5gc-operator
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "bans5gc-operator"
